docs-sidebar ul.submenu > li {
    border-top: 1px solid #ccc;
}

docs-sidebar ul.submenu > li a {
    display: block;
    color: #424242;
    text-decoration: none;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

docs-sidebar ul.submenu > li > a {
    position: relative;
    padding: 15px;
}

docs-sidebar ul.submenu > li > a > span {
    display: inline-block;
    position: absolute;
    top: 18px;
}

docs-sidebar ul.submenu li i {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

docs-sidebar ul.submenu li.active > a {
    font-weight: 500;
}

docs-sidebar ul.submenu li.active.pink > a {
    color: #fe6075;
}

docs-sidebar ul.submenu li.active.blue > a {
    color: #527496;
}

docs-sidebar ul.submenu li.active.orange > a {
    color: #f39c12;
}

/* Sublist styling */
docs-sidebar ul.submenu ul > li {
    padding: 10px;
}

docs-sidebar ul.submenu ul > li:first-child {
    padding-top: 0;
}

docs-sidebar ul.submenu ul > li:last-child {
    padding-bottom: 20px;
}

/*/// Content */
docs-content h1,
docs-content h2,
docs-content h3,
docs-content h4,
docs-content h5 {
    display: inline-block;
    font-weight: 300;
    position: relative;
}

docs-content h2:hover:after {
    content: "";
    background-image: url("/racks/assets/ico/SVG/anchor.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 7px;
    color: #fe6075;
}

docs-content h2 {
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
    padding-right: 25px;
}

docs-content p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .01rem;
}

docs-content mark {
    background-color: rgba(254, 96, 117, .2);
    padding: 0 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

docs-content strong {
    font-weight: 400;
}

/*/// Buttons */
core-button.primary::shadow button,
core-button.pink::shadow button,
core-button.orange::shadow button,
core-button.yellow::shadow button,
core-button.dark::shadow button {
    color: #fff;
}
core-button.primary::shadow button {
    background-color: #527496;
}

core-button.pink::shadow button {
    background-color: #fe6075;
}

core-button.orange::shadow button {
    background-color: #f39c12;
}

core-button.default::shadow button {
    background-color: #eee;
}

core-button.yellow::shadow button {
    background-color: #f1c40f;
}

core-button.dark::shadow button {
    background-color: #2c3e50;
}

core-button.no-shadow::shadow button {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
