body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #000;
    font-weight: 300;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    margin: 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

/* Colors
 * ====================
 * Pink light:  #fe6075
 * Pink dark:   #b94554
 * Gray light:  #dfe2e4
 * Gray dark:   #bdc3c7
 * Blue light:  #527496
 * Blue dark:   #2c3e50
 * Yellow:      #f1c40f
 * Orange:      #f39c12
 *
