* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
    box-shadow: none;
	width: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
}

ul, ol, dl {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

body *.hidden {
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #000;
    font-weight: 300;
    overflow: hidden;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}



/* Colors
 * ====================
 * Pink light:  #fe6075
 * Pink dark:   #b94554
 * Gray light:  #dfe2e4
 * Gray dark:   #bdc3c7
 * Blue light:  #527496
 * Blue dark:   #2c3e50
 * Yellow:      #f1c40f
 * Orange:      #f39c12
 *
