<link rel="import" href="../path-to-racks/dist/racks-common/racks-common.html">

<!--
    Use more imports here if you want to inherit
    from another rack components, such as the
    RacksAction which's great to build custom buttons
    or custom dialogs and so on
-->

<template id="racks-component-template">
    <style>
        /**
         * Basics
         * ======
         * Use :host to style the shadow-dom
         * elements, if you want to use different
         * classes for the element, just select it
         * with .host(.my-class) - this is really simple
         *
         * Content
         * =======
         * Use the ::content pseudo selector to
         * style everything which goes into the content
         * tag (the content of the host element)
         *
         */

        :host .racks-component-wrapper {
            display: block;
            background-color: #eee;
            padding: 10px;
        }
        
        ::content,
        :host .racks-component-wrapper {
            color: #333;
        }

    </style>
    <div class="racks-component-wrapper">
        <content></content>
    </div>
</template>

<script src="racks-component.js"></script>
